#main {
    display: flex;
    align-items: center; /* Vertical align the elements to the center */
    margin-bottom: 25px;
}

h1 {
    margin: 0;
}

button {
    margin-left: auto; /* Push this element to the right */
}