@page "/comics"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory

<PageTitle>Comics</PageTitle>

<h1>Comics</h1>

<div class="card">
    <div class="card-title">
    </div>
    <div class="card-body">
    </div>
</div>

@code {

    protected override async void OnInitialized()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, "");
    }

}