@page "/comics"
@using BookAPI.Presentation.Components
@inject NavigationManager NavigationManager


<PageTitle>Comics</PageTitle>

<div id="main">
    <h1>Comics</h1> 
    <button type="submit" class="btn btn-primary" @onclick="ButtonHandler">Create</button>
</div>

<ComicsList/>


@code {

    private void ButtonHandler()
    {
        NavigationManager.NavigateTo($"/createComic/");
    }

}