@page "/comics"
@using BookAPI.Presentation.Components
@inject IHttpClientFactory ClientFactory
@inject IConfiguration Configuration


<PageTitle>Comics</PageTitle>

<h1>Comics</h1>

<ComicsList/>



@code {

}