@page "/Orders"
@using BookAPI.Presentation.Components
@inject NavigationManager NavigationManager
<PageTitle>Orders</PageTitle>

<div id="main">
    <h1>Orders</h1> 
    <button type="submit" class="btn btn-primary" @onclick="ButtonHandler">Create</button>
</div>

<OrderList/>


@code {
    private void ButtonHandler()
    {
        NavigationManager.NavigateTo($"/createOrder/");
    }
}