@page "/libraryMangaInfo/{id:int}"

@attribute [AllowAnonymous]
@using BooksAPI.FE.Contracts.LibraryManga
@using BooksAPI.FE.Interfaces

@inject ILibraryMangaService LibraryMangaService;
<h3>LibraryMangaInfo</h3>

@if (_isDataFetched)
{
    @if (_error)
    {
        <MudGrid Justify="Justify.Center">
            <MudItem md="4" xs="4">
                <MudAlert Severity="Severity.Error" ShowCloseIcon="true" CloseIconClicked="(() => CloseAlert())">
                    Unable to get mangas. Please try again later.
                </MudAlert>
            </MudItem>
        </MudGrid>
    }
    else
    {
       //Put an info page
    }
}
else
{
    <div class="mt-4">
        <MudProgressLinear Color="Color.Primary" Size="Size.Large" Indeterminate="true" Class="my-7"/>
    </div>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private LibraryMangaResponse manga;

    private bool _shouldRender = false;
    private bool _error = false;
    private bool _isDataFetched = false;

    protected override bool ShouldRender() => _shouldRender;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            manga = await LibraryMangaService.GetManga(Id);
            _shouldRender = true;
        }
        catch (Exception e)
        {
            _error = true;
            _shouldRender = true;
        }
    }

    private void CloseAlert()
    {
        _error = false;
        StateHasChanged();
    }

}