@page "/login"
@using BooksAPI.FE.Model

<PageTitle>Login</PageTitle>
<h3 class="text-center mb-4">Login</h3>
@if (_error)
{
    <MudGrid Justify="Justify.Center">
        <MudItem md="4" xs="4">
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled">
                Error occured
            </MudAlert>
        </MudItem>
    </MudGrid>
}
<EditForm Model="_model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <MudGrid Justify="Justify.Center">
        <MudItem xs="4">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Username" @bind-Value="_model.Username" For="@(() => _model.Username)"/>
                    <MudTextField Label="Password" Class="mt-3" @bind-Value="_model.Password"
                                  For="@(() => _model.Password)" InputType="InputType.Password"/>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Login</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code
{
    private LoginModel _model = new();
    private bool _shouldRender = false;
    private bool _error = false;

    protected override bool ShouldRender() => _shouldRender;


    private async void OnValidSubmit()
    {
    }
}