@page "/register"
@using BooksAPI.FE.Data

<PageTitle>Register</PageTitle>

<h3 class="text-center mb-4">Register</h3>
<div class="d-flex justify-content-center align-items-center mt-6" id="register-container">
    <EditForm Model="@_model" class="shadow-sm rounded bg-white" id="register-form">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div class="mb-3">
            <label for="inputUsername" class="form-label">Username</label>
            <InputText id="inputUsername" class="form-control" @bind-Value="_model.Username"/>
            <ValidationMessage For="@(() => _model.Username)"></ValidationMessage>
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <InputText id="inputEmail" class="form-control" @bind-Value="_model.Email"/>
            <ValidationMessage For="@(() => _model.Email)"></ValidationMessage>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <InputText id="inputPassword" type="password" class="form-control" @bind-Value="_model.Password"/>
        </div>
        <div class="mb-3">
            <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
            <InputText id="inputConfirmPassword" type="password" class="form-control" @bind-Value="_model.Password"/>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary" @onclick="ButtonHandler">Register</button>
        </div>
    </EditForm>
</div>


@code {
    private RegisterModel _model = new();

    private async Task ButtonHandler()
    {
    }

}